.containerClient {
    width: 100%;
    background-color: #F9F9F9;
    padding: 5% 8%;
    .content {
        margin-top: 8%;
        .title {
            font-size: var(--tituloPrincipal);
            font-weight: bold;
            text-align: center;
            color: rgb(0, 0, 0);
            margin-bottom: 1rem;
        }
        .description {
            font-size: var(--textSecundario);
            text-align: justify;
            line-height: 1.5;
            color: rgb(0, 0, 0);
            margin-left: auto;
            margin-right: auto;
            margin-top: 5rem;
            margin-bottom: 5rem;
        }

        .cardGrid {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 2rem;
            .card {
                height: 150px;
                background-color: white;
                border-radius: 0.5rem;
                display: flex;
                flex-direction: row;
                text-align: center;
                justify-content: space-evenly;
                
                align-items: center;
                .media {
                    width: 3rem;
                    height: 3rem;
                    color: rgb(1, 1, 1);
                    margin-bottom: 1rem;
                    .icon {
                        font-size: var(--tituloPrincipal);
                        color: white;
                        margin-bottom: 1rem;
                    }
                }

                .cardTitle {
                    height: 40px;
                    margin-top: 30px;
                    font-size: var(--textTerciario);
                    font-weight: 600;
                    color: #2d3748;
                    margin-bottom: 0.5rem;
                }
            }
        }
        @media (min-width: 768px) {
            .cardGrid {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        @media (min-width: 1024px) {
            .cardGrid {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}


