.sectionClients {
    width: 100%;
    background-color: #111D43;
    height: auto;
}

.sectionClients .containerClient {
    width: 85%;
    overflow-x: hidden;
    margin: 0 auto;
}

.sectionClients .containerClient .content {
    width: 95%;
    margin: 5% auto;
}

.sectionClients .containerClient .content .title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionClients .containerClient .content .title h2 {
    display: inline-block;
    position: relative;
    font-size: var(--titulo);
    color: var(--TitulosTextosPrincipales);
    margin-bottom: 1rem;
}

.sectionClients .containerClient .content .title span {
    display: inline-block;
    width: 15%;
    height: 5px;
    background-color: var(--BotonEnlaces);
}

.sectionClients .containerClient .content .description {
    font-size: var(--textSecundario);
    text-align: center;
    line-height: 1.5;
    color: var(--CardSecundario);
    margin: 5rem auto;
}

.sectionClients .containerClient .content .cardGrid {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    animation: scroll 15s linear infinite;
    gap: 20rem;
}

.sectionClients .containerClient .content .cardGrid .card {
    min-width: 300px;
    height: 200px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.sectionClients .containerClient .content .cardGrid .card .media {
    height: 80px;
    width: 300px;
}

.sectionClients .containerClient .content .cardGrid .card .media img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.sectionClients .containerClient .content .cardGrid .card .mediaMobil {
    display: none;
}

.sectionClients .containerClient .content .cardGrid .card .cardTitle {
    height: 40px;
    margin-top: 30px;
    font-size: var(--textSecundario);
    font-weight: 600;
    color: #2d3748;
    margin-bottom: 0.5rem;
}

/* Media query para pantallas pequeñas */
@media (max-width: 800px) {
    .sectionClients .containerClient .content .cardGrid .card .media {
        display: none;
    }

    .sectionClients .containerClient .content .cardGrid .card .mediaMobil {
        display: block;
        height: 80px;
        width: 300px;
    }

    .sectionClients .containerClient .content .cardGrid .card .mediaMobil img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

/* Keyframes de animación para desplazamiento */
@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}
