.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    padding: 40px 0;
    color: var(--white);
    flex-direction: column;
    font-family: "Raleway", sans-serif !important;
    gap: 20px;
}

.contacto {
    font-size: var(--textPrincipal);
    color: var(--amarillo);
}

.info {
    font-size: var(--textSecundario);
    font-weight: 100;
}
.contentMedia {
    display: flex;
    gap: 20px;
}
.media {
    font-size: var(--tituloPrincipal);
    color: var(--white);
}

/* instagram */
.ig:hover {
    color: #df0b0b;
}

/* facebook */
.fb:hover {
    color: #3b5998;
}

/* youtube */
.yt:hover {
    color: #ff0000;
}

/* linkedint */
.lk:hover {
    color: #0e76a8;
}

.wpp {
    width: 60px;
    height: 60px;
    background-color: aliceblue;
    padding: 5px 10px 16px 11px;
    font-size: 40px;
    color: rgb(4, 113, 11);
    z-index: 1000;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    a {
        color: rgb(4, 113, 11);
        text-decoration: none;
    }
}



.tooltip {
    visibility: hidden;
    width: 200px;
    background-color: #f1f1f1;
    color: #333;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    right: 70px; /* Ajusta según la posición deseada */
    bottom: 10px;
    z-index: 1001;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
}

/* Muestra el tooltip al hacer hover en el contenedor del botón */
.wpp:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 640px) {
    .footer {
        padding: 40px 40px;
        text-align: center;
    }
}
