/*---------------------------------------------------------- mineria -------------------------------------------------*/

.subtittleSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
    /* background: linear-gradient(345deg, var(--dark) 40%, #323240);
   */
    padding: 60px 80px;
}

/* ------------------------ */
.subtittleContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Raleway", sans-serif !important;
}

.tittlePrincipalIndustrias {
    font-size: var(--40);
    font-weight: 300;
    color: var(--amarillo);
    margin-bottom: 20px;
    font-family: "Raleway", sans-serif !important;
}
.tittlePrincipalIndustriasPar {
    font-size: var(--40);
    font-weight: 300;
    color: var(--amarillo);
    margin-bottom: 20px;
    font-family: "Raleway", sans-serif !important;
    text-align: end;
}

.textIndustrias {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.textPrincipalIndustrias {
    font-size: 18px;
    font-weight: 300;

    color: var(--white);
    margin-bottom: 8px;
    width: 100%;
    height: 200px;
    text-align: justify;
}


/* photomineria*/

.photoSection {
    position: relative;
}

.photo {
    width: 100%;
    height: 660px;
    object-fit: cover;
}

.photoContainer {
    position: absolute;
    color: var(--white);
    font-family: "Raleway", sans-serif !important;
    top: 30%;
    left: 60px;
    width: 40%;
}
.photoContainerPar {
    position: absolute;
    color: var(--white);
    font-family: "Raleway", sans-serif !important;
    top: 30%;
    left: 55%;
    width: 40%;
}

.degradadoPortafolioTop1 {
    position: relative;
    height: 660px;
    background-color: rgba(3, 3, 33, 0.5);
    z-index: 0;
    margin-bottom: -660px;
}
.cardsSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    padding: 80px 60px;
}
.quehacemos {
    font-size: var(--28);
    font-family: "Raleway", sans-serif !important;
    font-weight: 500;
    text-align: left;
    margin-bottom: 40px;
    color: #FFBE00;
}


/**---------------------------------------Carousel1 ------------------------------------------------------------- */

.containerCardCarrucel1,.containerCardCarrucel1par{
    display: flex;
    width: 100%;
    height: 350px;
    padding-bottom: 30px;
}
.containerCardCarrucel1par{

    flex-direction: row-reverse;
}

.cardContainer1 {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    color: #666;
    text-align: justify;
}

.carouselConteiner1 {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    width: 60%;
}

.carouselInner1 {
    display: flex;
    transition: transform 0.5s ease;
}

.carouselInner1 img {
    width: 100%;
    height: auto;

}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    text-align: center;
}


/**---------------------------------------Carousel2 -------------------------------------------------------------- */

.containerCardPrincipal1 {
    /* max-width: 1200px;
    margin: 0 auto; */
    padding: 2rem;
}
.highlight {
    color: #ef4444;
}

.carouselContainer2 {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carrusel2 {
    height: 550px;
    display: flex;
    flex-wrap: nowrap;
    padding-left: 10%;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.carouselItem2 {
    flex: 0 0 53%;
    position: relative;
    height: 290px;
    padding: 30px 5rem;
    box-sizing: border-box;
}

.carouselItem2 img {
    width: 45%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.carouselContent {
    position: absolute;
    top: 15%;
    right: 10rem;
    width: 40%;
    height: 60%;
    background-color: white;
    color: #1f2937;
    padding: 1.5rem;
    /* border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carouselContent h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.carouselContent p {
    font-size: 0.875rem;
    color: #4b5563;
    margin-bottom: 1rem;
}

.read-more {
    color: #ef4444;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
}

.read-more svg {
    width: 1rem;
    height: 1rem;
    margin-left: 0.25rem;
}

.carousel-button {


    transform: translateY(-50%);
    background-color: rgba(255, 255, 255);
    border: none;

    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    color: #1f2937;
    margin: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.carousel-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.carousel-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(239, 68, 68, 0.5);
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}


@media (max-width: 800px) {
    .textIndustrias {
        display: none;
    }

    .containerCardCarrucel1 ,.containerCardCarrucel1par{
        flex-direction: column;
    }
    .cardContainer1 , .carouselConteiner1 {
        width: 100%;
    }

    .cardContainer1{
        margin-bottom: 0px;
    width: 100%;
    }


    .cardsContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .carouselItem2 {
        flex: 0 0 100%;
    }

    .card,
    .cardPar {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
        margin-bottom: 20px;
    }


    .cardcontexttext {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 25px;
        text-align: center;
        gap: 20px;
    }

    .textPrincipalIndustrias {
        width: 100%;
    }

    /*photomineria*/

    .photo {
        height: 350px;
    }

    .photoContainer {
        top: 65%;
        left: 40px;
        width: 80%;
    }
    .photoContainerPar {
        top: 65%;
        left: 15%;
        width: 80%;
    }


    .degradadoPortafolioTop1 {
        height: 350px;
        margin-bottom: -350px;
    }


    /*cards mineria*/

    .cardsSection {
        padding: 40px 40px;
    }

    .cardsContainer {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .card {
        width: 100%;
    }
}
